
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Simple</title>
  <link rel="stylesheet" >
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <img  class="logo1"src="assets/universite.jpeg" alt="Logo">
      <img class="logo2" src="assets/4cus.jpeg" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home">Accueil</a></li>
      <li><a routerLink="/club">club et association</a></li>
      <li><a href="/reseau">réseau</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           connecter
        </a>
        <div class="dropdown-menu"  aria-labelledby="navbarDropdown">
             <a class="dropdown-item" style="font-size: 15px;" routerLink="/loginS">Secretaire général</a>
          <a class="dropdown-item" style="font-size: 15px;" routerLink="/logina">Prèsident association locale</a>
          <a class="dropdown-item" style="font-size: 15px;" routerLink="/loginc">Prèsident club ou association</a>
          <a class="dropdown-item" style="font-size: 15px;" routerLink="/login">Membre club ou association</a>

          </div>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        s'inscrie
     </a>
     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item"  style="font-size: 15px;" routerLink="/signupS">Secretaire général</a>
       <a class="dropdown-item"  style="font-size: 15px;" routerLink="/signupa">Prèsident association locale</a>
       <a class="dropdown-item" style="font-size: 15px;" routerLink="/signupc">Prèsident club ou association</a>
       <a class="dropdown-item"style="font-size: 15px;"  routerLink="/signup">Membre club ou association</a>
       </div>
   </li>
</ul>

  </nav>

  <div class="container"  >


    <div class="content">
      <h1>Clubs et Associations</h1><br><br>
      <p>‘Unis par la passion, ensemble pour l'action” </p><br>
      <div class="second_p">
      <p>Découvrez une nouvelle ère de gestion simplifiée pour les clubs universitaires et associations locales de la région de Sousse. Notre application offre une plateforme intuitive et centralisée pour créer, gérer et collaborer au sein d'un réseau dynamique</p>
    </div>
    </div>
  </div><br> <br>
  <div class="introduction" style="margin-left: 100px; margin-top: 255px;">
    <div class="image">
        <img src="assets/association.jpg" alt="Image 1">
    </div><br> <br>
    <div class="image" style="margin-left: 145px;margin-top: -100px;">
        <img src="assets/clubs.jpg" alt="Image 2">
         <h1 >Notre fondation</h1>
    <h3 >clubs et associations</h3>
    <p>Les clubs et associations universitaires des établissements appartenant à l'Université de Sousse constituent le cœur battant de notre fondation. Ces entités dynamiques et diversifiées offrent un espace d'épanouissement et d'engagement pour les étudiants, favorisant ainsi le développement personnel et professionnel au sein de notre communauté académique. En tant que pilier essentiel de la vie étudiante, ces clubs et associations reflètent la richesse de la diversité culturelle et intellectuelle présente au sein de notre université. Leur rôle central dans la promotion de l'échange d'idées, la solidarité, et l'innovation contribue à forger des leaders de demain, prêts à relever les défis du monde contemporain.</p>
    </div><br><br><br>
</div>
<div class="bloc">
<div class="nous" style="display: flex;">
  <div style=" color: #f7f6f6;">
  <img src="/assets/group.png">
  <h1 style="margin-left:175px ;">Club</h1>
  <p style="margin-left:175px ;">Un club universitaire rassemble des étudiants <br>autour d'un intérêt commun<br> en dehors des cours.</p>
  </div>
  <div class="p" >

 <h1>Qui faisons-Nous</h1>
 <p>Nous simplifions la gestion et la communication pour que vous puissiez<br> vous concentrer sur ce qui compte vraiment : faire grandir votre club ou association.</p>
</div></div>
<div class="association" style=" color: #f7f6f6;">
  <div >
  <img src="/assets/ass.png">
  <h1 style="margin-top: -25px;">association</h1>
  <p >Une association est un groupe<br> unissant des personnes<br> partageant des objectifs communs.</p>
</div></div>
<div class="vie" style=" color: #f7f6f6;">

  <img src="/assets/vie.png">
  <h1>Vie Associative</h1>
  <p>La vie associative désigne l'ensemble des activités,<br> des interactions et des initiatives impliquant des associations <br>et leurs membres au sein d'une communauté donnée.</p>
</div></div>
<br><br><br>

<footer>
  <div class="container1" >

      <div class="footer-content1">
          <h3><i class="fa fa-university" aria-hidden="true"></i>Contactez-nous</h3>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>Rue Khalifa El Karoui Sahloul - BP n° 526 – 4002 Sousse</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i>Téléphone : 73 368 126 </p>
          <p><i class="fa fa-envelope" aria-hidden="true"></i>Email : universite.centre&#64;uc.rnu.tn</p>

          </div>




      <div class="footer-content">
          <h3>Liens rapides</h3>
          <ul style="margin-top: -25px; margin-left: 75px;" >
              <li><a href="#">Accueil</a></li><br>
              <li><a href="#">clubs et associations </a></li><br>
              <li><a href="#">réseau universitaire</a></li><br>
              <li><a href="#">Contact</a></li><br>
          </ul>
      </div>
      <div class="footer-content">
          <h3>Suivez-nous</h3>
          <ul style="margin-top: -25px; margin-left: 75px;">
              <li><i class="fa fa-facebook-official" aria-hidden="true"></i><a href="#">Facebook</a></li><br>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">email</a></li><br>
              <li><i class="fa fa-instagram" aria-hidden="true"></i><a href="#">Instagram</a></li><br>
          </ul>
      </div>
  </div>
</footer>


</body>
</html>


