<div class="container"  fxFlex="value%" fxFlexAlign="start">


  <img src="assets/union.jpeg">

  <form   >
<h1 style="margin-top: 5px;"> Connecter avec un compte </h1><br>
<h3>Entrer les informations  de connexion :</h3><br>
    <label for="email">Email</label><br><br>
    <input type="email"  id="email" name="email" formControlName="email" required><br><br>

    <label for="password">Mot De Passe</label><br><br>
    <input type="password" formControlName="motdepasse" id="password" name="password" required><br><br> <br>

    <input class="submit"     type="submit" value="login " >

</form>
</div>

