<div class="container"  fxFlex="value%" fxFlexAlign="start">


  <img src="assets/union.jpeg">

  <form   #SecreatireForm="ngForm" (ngSubmit)="onSubmit(SecreatireForm)" >
<h1 >Bienvenu !</h1><br>
    <label for="username">Nom d'utilisateur  </label><br/><br>
    <input type="text" [(ngModel)]="secretaire.nom" id="nom" name="nom" required><br><br>

    <label for="email">Email</label><br><br>
    <input type="email" [(ngModel)]="secretaire.email" id="email" name="email"  required><br><br>



    <label for="password">Mot De Passe</label><br><br>
    <input type="password" [(ngModel)]="secretaire.motdepasse"  id="password" name="password" required><br><br> <br>

    <label for="password">Nom Du etablissement</label><br><br>
    <input type="text" [(ngModel)]="secretaire.nometablissement" id="nomduclub" name="nomduclub" required><br><br> <br>

    <input class="submit"  (click)="onSubmit(SecreatireForm)"   type="submit" value="REGISTER">
</form>
</div>

